<template>
  <div class="market">
    <section>
      <div class="column has-text-centered">
        <h1 class="title">开发中...</h1>
      </div>
    </section>
    <section></section>
  </div>
</template>

<script></script>
